body{
		min-width:250px;
}
.events{
	height: 640px
}
.events-list {
		list-style: none;
}
.event-list > li {
	position:relative;
	list-style: none;
	background-color: #ececec;
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	height: 200px;
	width: 100%;
	}
	
@media only screen and (max-width: 400px) {
    /* For desktop: */
    .event-list > li{
    height: 400px;
    }
    .title {
	font-size: 13pt;
	}
	.place {
	font-size: 11pt;
	}
    .info {
    padding-top: 150px;
    }
    .deleteUpdateEventSubmit{
    padding-top: 140px;
    }
    .commentHeader{ 
    padding-top: 47px;
    }
    .commentText{
    margin-top: 70px;
    }
}
.info {    
	position: absolute;
	left: 50%;
	top: 1%;
	}
.deleteUpdateEventSubmit{
	position: absolute;
	right:1%;
	top: 40%;
}
.userInfo {
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	width: 20%;
	}
.submit {
	display : inline-block;
	cursor : pointer;
	border-style : solid;
	border-width : 1px;
	border-radius : 50px;
	padding : 10px 18px;
	box-shadow : 0 1px 4px rgba(0,0,0,.6);
	color : black;
	}
.dateTime{
	padding-left: 10px;
	padding-top: 10px;
	text-ali;gn:left;
	font-size: 13pt;
	width: 150px;
	}
.title {
	font-size: 15pt;
	}
.place {
	font-size: 13pt;
	}
.showUpdateFormSubmit{
	position: relative;
	bottom: 4%;
	margin: 1%;
}
.submit.deleteSubmit {
	position: relative;
	bottom: 4%;
}
.imgEventList{
	width: 80px;
	border-radius: 50%;
	text-align: left;
	}
.Logout{
	text-align: left;
	}
.loginMessage{
	text-align: center;
	}
		
.imgCommentList{
	width: 55px;
	border-radius: 50%;
	text-align: left;
	position: absolute;
	left: 0;
	top: 0;	
	}
.commentText{
	padding-left:50px;
	padding-top: 40px;
	padding-right: 5px;
	text-align: left;
	}
.login{
	text-align: center;
	}
	
.commentbox{
	background-color: #ececec;
	width: 65%;
	margin:auto;
	padding: 10px;
	position: relative;
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

.commentHeader{
	width:70%;
	height:auto;
	position: absolute;
	left: 10%;
	top: 8%;
	font-size: 90%;
	color: #4A4A4A;
}
.eventDescription{
	padding:10px,10px,10px,10px;
	width: 90%;
	text-align: left;
}
.addCommentTextarea{
	width: 50%;
}
.updateCommentTextarea{
	width: 75%;
}
.eventDescriptionTextarea{
	width:80%;
	height: 200px;
}
.textarea{
	resize: none;
	border: 2px solid #cccccc;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 2%;
}

.eventInfo{
	min-width:250px;
	position: absolute;
	width:50%;
	top: 5%;
	left:20%;
	padding-left:5%;
	padding-bottom:5%;
	background-color: #ececec;
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}
.eventInfo input [type="text"]{
	border: 2px solid #cccccc;
}

.openAddEventForm{
	text-align: right;
}

label{
	visibility:hidden;
}
.error label{
	visibility:visible;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	color:red;
	position:relative;
	left: 2%;
}
.error input{
	background: #ffe; 
	border: 1px solid red; 
}

.openEvent{
	margin:auto;
	width:85%;
	min-width:250px;
	text-align: center;	
}
.paginationDiv{
	
	text-align: center;
}
.pagination {
    display: inline;
}

.pagination input {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    border: 3px solid #ddd;     
}
