table{
	background: #f5f5f5;
	border-collapse: inherit;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}
tr, td {
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px ridge #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px medium black;
}
.tooltip .requared:focus{
	background: #ffe; 
     border: 1px solid #29B0D9; 
}
.tooltip.error input{
	background: #ffe; 
	border: 1px solid red; 
}
.tooltip label{
	visibility:hidden;
}
.tooltip.error label{
	visibility:visible;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	color:red;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background:rgba(51,51,51,0.9);
	color:#fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
