h1 {
	font-size: 24pt;
	color: #1b0cc7;
}

.tag {
	display: inline;
	background-color: rgba(13, 122, 244, 0.07);
	color: cadetblue;
	margin-right: 5px;
}

.right-float {
	float: right;
}

.filter {
	display: inline;
}

.filters-div {
	position: relative;
	left: 200px;
}

.news-title {
	display: inline;
	font-weight: bold;
	float: left;
}

.title-author-date {
	margin-bottom: 30px;
}

.news-author {
	display: inline;
	float: left;
}

.news-modification-date {
	text-decoration: underline;
}

.news-author-date {
	float: right;
}

.news-short-text {
	clear: left;
}

.comments-number {
	display: inline-block;
	color: red;
	margin-right: 40px;
}

.tags-comment-view {
	text-align: right;
	margin-bottom: 45px;
	margin-top: 10px;
}

.news-full-text {
	clear: left;
	margin-bottom: 50px;
}

.comment-text {
	background-color: cornsilk;
	margin-bottom: 20px;
}

.comment-date {
	text-decoration: underline;
}

.comments {
	width: 400px;
}

.single-next-link {
	float: right;
}

.hidden {
	visibility: hidden;
}

.delete-comment-button {
	float: right;
}

body {
	width: 930px;
	margin: auto;
}

.main-page-links {
	text-align: center;
	margin-top: 110px;
}

.login-menu {
	display: inline-block;
	position: absolute;
	right: 0;
	margin-right: 229px;
	top: 35px;
}

.logout-button {
	display: inline-block;
}

.locale {
	position: relative;
	width: 50px;
	left: 800px;
}

.form-control {
	display: inline;
	width: auto;
}

#header {
	display: inline-block;
}

.ui-widget {
	background-color: white;
	border: 1px solid;
	border-color: #adadad;
	margin-right: 5px;
	position: relative;
	top: 5px;
}

.news-list {
	display: inline-block;
	width: 668px;
}

.admin-menu {
	display: inline-block;
	float: left;
	width: 180px;
}

.admin-menu ul {
	list-style-image: url('/resources/img/list-icon.PNG');
}

a:link {
	color: #162bff;
}

a:visited {
	color: #162bff;
}

#footer {
	margin-top: 30px;
	text-align: center;
	background-color: aliceblue;
	clear: left;
}

#content {
	border: solid 2px;
	border-color: #b6b3b0;
	margin: 5px;
	padding: 5px;
	float: left;
	width: 668px;
}

#single-title {
	margin-top: 15px;
}

.login-content {
	border: solid 2px;
	border-color: #b6b3b0;
	margin: 5px;
	padding: 5px;
	text-align: center;
	margin: auto;
}

.red-color {
	color: red;
	font-style: bold;
}

.delete-button {
	width: 90px;
	height: 36px;
}

.pagination-link {
	display: inline-block;
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 1px 8px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	border-radius: 3px;
}

.pagination-link:link {
	color: #333333;
}

.pagination-link:visited {
	color: #333333;
}

.current-page-link:link {
	color: #fff;
}

.current-page-link:visited {
	color: #fff;
}

.current-page-link {
	background-color: #444;
}